################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Pharmix.Covid19/Pharmix.Covid19/bin
